
config openvpn 'custom_config'
	option enabled '0'
	option config '/etc/openvpn/my-vpn.conf'

config openvpn 'sample_server'
	option ca '/etc/openvpn/ca.crt'
	option cert '/etc/openvpn/server.crt'
	option key '/etc/openvpn/server.key'
	option dh '/etc/openvpn/dh2048.pem'
	option ifconfig_pool_persist '/tmp/ipp.txt'
	option client_to_client '1'
	option keepalive '10 120'
	option cipher 'AES-128-CBC'
	option compress 'lzo'
	option max_clients '100'
	option persist_key '1'
	option persist_tun '1'
	option user 'root'
	option status '/tmp/openvpn-status.log'
	option log_append '/tmp/openvpn.log'
	option verb '5'
	option mute '5'
	option duplicate_cn '1'
	option enabled '0'
	option tunport '12974'
	option taport '12973'
	option tunproto 'udp'
	option taproto 'udp'
	option accessmode 'auto'
